<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <title>Creative Craze - Add Artist</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Artist Profile!</h1>
                        </div>
                        <form th:action="@{/add_artist}" method="post" class="user">
                            <!-- 1st row -->
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="name">Names</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="name" placeholder="ex:'Lee Reid'" name="name" required/>
                                </div>
                            </div>
                            <!-- 2nd row -->
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="age">Age</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="age" placeholder="ex:'28'" name="age" required/>
                                </div>
                            </div>
                            <!-- 3rd row -->
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="nationality">Nationality</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="nationality" placeholder="ex:'Rwanda'" name="nationality" required/>
                                </div>
                            </div>
                            <!-- 4th row -->
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="ownerEmail">Email</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="ownerEmail" placeholder="ex:'example@gmail.com'" name="ownerEmail" required/>
                                </div>
                            </div>
                            <!-- 5th row -->
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="pdf">Portfolio Pdf</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="file" class="form-control" id="pdf" placeholder="Portfolio Pdf" name="pdf" accept=".pdf" required/>
                                </div>
                            </div>
                            <!-- 6th row -->
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="image">Profile Picture</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="file" class="form-control" id="image" placeholder="Profile Picture" name="image" accept="image/*" required/>
                                </div>
                            </div>
                            <!-- 7th row -->
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label for="message">Description</label>
                                    <textarea class="form-control" id="message" placeholder="Briefly Describe Your Work and Yourself" name="message" required></textarea>
                                </div>
                            </div>
                            <!-- 8th row -->
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Create Artist Profile"/>
                                </div>
                            </div>
                            <hr>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" th:href="@{/artist}">Go back to Dashboard</a>
                        </div><div class="text-center">
                            <a class="small" th:href="@{/index}">Go back to HomePage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="../static/js/jquery.easing.min.js"></script>

<script src="../static/js/sb-admin-2.min.js"></script>

</body>

</html>
